@media screen and (max-width: 500px) {

	.layers {
		font-size:.6em;

		ul {
			margin-top: 5px;
		}
	}

}

@media screen and (max-width: 341px) {

	#addinfo-wrapper .addinfo-content.show-addinfo {
		height: 65vh;
	}

}

