body {
	font-family: $font-family-main;
	font-size: 12px;
}


h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
	font-weight: bold;
}

h6 {
	font-size: 1.1em;
	font-weight: bold;
}


.review {
	font-size:.8em;
}


.addinfo-wrapper {
	.inner {
		.menu {
			ul {
				li {
					i {
						font-size: 3em;
						color: rgb(113, 1, 1);
					}
				}
			}
		}
	}

}


.reset-icon {
	font-size: 2em;
}

.topbar {
	.searches {
		i {
			font-size: 1.6em;
			color:white;
		}
	}
}