// Include to get all modules
@import "colors";
/************************************
				Variables
*************************************/
$page-font-family: 		 Verdana, sans-serif;
$page-default-font-size: 12px;


/*********************************************
 	Font-Styles
*********************************************/
$font-family-main: Verdana, sans-serif;


