// Include to get all modules

/************************************
				Variables
*************************************/
$page-font-family: 		 Verdana, sans-serif;
$page-default-font-size: 12px;


/************************************
			Color Scheme
************************************/
$icons-main-color: rgb(58, 77, 119);
$icons-secondary-color: #737FAE;

$places-list-main-color: rgba(255, 255, 255, 0.89);
$places-list-border-color: rgb(234, 228, 228);

$loader-back-color: rgba(255, 255, 255, 0.73);

/*********************************************
 	Font-Styles
*********************************************/
$font-family-main: Verdana, sans-serif;
