/************************************
			Color Scheme
************************************/
$places-list-border-color: rgb(234, 228, 228);

$loader-back-color-fb:rbg(255,255,255);
$loader-back-color: rgba(255, 255, 255, 0.73);

$entry-background-color-fb: rgb(134,0,0);
$entry-background-color: rgba(134, 0, 0, .95);

$topbar-background-color: rgb(134, 0, 0);
$topbar-icons-color: rgb(232, 232, 232);

$placelist-item-background-color-fb: rgb(255, 255, 255);
$placelist-item-background-color: rgba(255, 255, 255, 0.89);
$placelist-item-text-color: #333;

$icons-color: #860000;

$placeslist-item-rate-color: #e3e1ec;

$addinfo-background-color: #860000;
$addinfo-heading-color: #D9A1A1;
$addinfo-text-color: white;